<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SCaLE 22x Events</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">SCaLE 22x Events</a>
            <!-- Navbar-->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="card mb-4">
                            <!-- space for the card header -->
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Events
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <!--
                                        sorted_events.append({
                                            "day": day,
                                            "time": time,
                                            "room": room,
                                            "speaker": speaker,
                                            "title": title,
                                            "url": url,
                                            "topic": topic
                                        })
                                        -->
                                        <tr>
                                            <th>Day</th>
                                            <th>Time</th>
                                            <th>Title</th>
                                            <th>Speaker</th>
                                            <th>Room</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Day</th>
                                            <th>Time</th>
                                            <th>Title</th>
                                            <th>Speaker</th>
                                            <th>Room</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for event in events %}
                                        <tr>
                                            <td>{{ event.day }}</td>
                                            <td>{{ event.time }}</td>
                                            <td>
                                                <a href="{{ event.url }}" target="_blank">
                                                    {{ event.title }}
                                                </a>
                                            </td>
                                            <td>{{ event.speaker }}</td>
                                            <td>{{ event.room }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted"></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
